* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

.title--big {
    margin-bottom: 30px;
}

p {
    margin: 10px 0;
}